@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');


body {
  background: linear-gradient(-45deg, white, gray, white, gray);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

button {
  font-family: Futura;
  width: 250px;
  height: 200px;
  font-size: 26px;
  color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}

button:hover {
  color: white;
}

button:focus {
  outline: none;
}
button#rock {
  background-image: url("images/rock.png");
}

button#rock:hover {
  border: 5px solid white;
  border-radius: 50%;
}

button#paper {
  background-image: url("images/paper.png");
}

button#paper:hover {
  border: 5px solid white;
  border-radius: 50%;
}

button#scissors {
  background-image: url("images/scissors.png");
}

button#scissors:hover {
  border: 5px solid white;
  border-radius: 50%;
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo,orange, red);   -webkit-background-clip: text;
  color: transparent;
}